# Variable Discretization
---

Some Machine Learning technique require categorical variables, so we have to transform or __discretize__ the data.

There are two types of discretization: __Supervisioned__ and __Unsupervisioned__

In [11]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('../datasets/weights_heights.csv')

## Supervisioned

In [23]:
def height_supervisioned_discretization(val) -> str:
    if val < 170:
        return 'SHORT'
    else:
        return 'TALL'

def weight_supervisioned_discretization(val) -> str:
    if val > 70:
        return  'FAT'
    else:
        return 'THIN'

In [24]:
df_new = df.copy()
df_new['height'] = df['height'].apply(height_supervisioned_discretization)
df_new['weight'] = df['weight'].apply(weight_supervisioned_discretization)

df_new.sample(frac=0.1)

     person weight height
711     712   THIN   TALL
143     144   THIN   TALL
627     628    FAT   TALL
243     244   THIN   TALL
91       92    FAT   TALL
..      ...    ...    ...
863     864   THIN   TALL
167     168   THIN   TALL
130     131   THIN  SHORT
236     237    FAT  SHORT
857     858    FAT  SHORT

[100 rows x 3 columns]

## Unsupervisioned
__Equal-width__ approach using __quantiles__ to discretize.

__Equal-width__ can`t work fine with data in a non normal distribution

In [33]:
df_new = df.copy()

def height_unsupervisioned_discretization(val) -> str:
    if val < df_new['height'].quantile(0.5):
        return 'SHORT'
    else:
        return 'TALL'

def weight_unssupervisioned_discretization(val) -> str:
    if val > df_new['weight'].quantile(0.5):
        return  'FAT'
    else:
        return 'THIN'

In [34]:
df_new['height'] = df['height'].apply(height_unsupervisioned_discretization)
df_new['weight'] = df['weight'].apply(weight_unssupervisioned_discretization)

df_new.sample(frac=0.1)

     person weight height
105     106    FAT  SHORT
557     558    FAT  SHORT
4         5    FAT  SHORT
231     232    FAT   TALL
133     134   THIN  SHORT
..      ...    ...    ...
572     573   THIN   TALL
831     832   THIN  SHORT
131     132   THIN   TALL
118     119   THIN   TALL
270     271   THIN  SHORT

[100 rows x 3 columns]